# EVALUATION - 1

Telecom Churn Datasets

Each row represents a customer; each column contains customerâ€™s attributes. The datasets have the following attributes or features:

State: string
Account length: integer
Area code: integer
International plan: string
Voice mail plan: string
Number vmail messages: integer
Total day minutes: double
Total day calls: integer
Total day charge: double
Total eve minutes: double
Total eve calls: integer
Total eve charge: double
Total night minutes: double
Total night calls: integer
Total night charge: double
Total intl minutes: double
Total intl calls: integer
Total intl charge: double
Customer service calls: integer
Churn: string ( 0-loyal users, 1- churned users)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')

In [3]:
df.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# 1. display the number of rows of the dataset - 1 Mark

In [93]:
def no_rows():
    # Write your code here
    return df.shape[0] # # Write your code here
no_rows()

3333

# 2. select only string columns and display first 3 valueses - 1 Mark

In [22]:
def col_name():
    return df.select_dtypes(include='object').head(3)# Write your code here
col_name()

  State International plan Voice mail plan
0    KS                 No             Yes
1    OH                 No             Yes
2    NJ                 No              No

# 3. convert the churn datatype to int and display the type of churn column - 1 Mark

In [94]:
def change_type():
    # Write your code here
    df['Churn'] = df['Churn'].astype('int')
    return df['Churn'].dtype# Write your code here
change_type()

dtype('int64')

# 4. print the most frequently occuring value for state, international plan and voice mail plan from summary statistics -  1 Mark

In [95]:
def dis_summary():
    # Write your code here
    return df.loc[:,['State', 'International plan', 'Voice mail plan']].mode()# Write your code here

dis_summary()

  State International plan Voice mail plan
0    WV                 No              No

# 5. What is the percentage of churn in each category - 1 Mark

In [96]:
def perc_churn():
    # Write your code here
    return (df['Churn'].value_counts()/df.shape[0])# Write your code here
perc_churn()

0    0.855086
1    0.144914
Name: Churn, dtype: float64

# 6. sort the dataframe in the descending order of Total day charge and display first 5 states - 1 Mark

In [97]:
def sort_disp():
    # Write your code here
    return df.sort_values(by='Total day charge',ascending=False).head(5)# Write your code here
sort_disp()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75,59.64,216.5,94,18.40,253.9,100,11.43,10.1,9,2.73,1,1
985,NY,64,415,Yes,No,0,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,1
2594,OH,115,510,Yes,No,0,345.3,81,58.70,203.4,106,17.29,217.5,107,9.79,11.8,8,3.19,1,1
156,OH,83,415,No,No,0,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,1
605,MO,112,415,No,No,0,335.5,77,57.04,212.5,109,18.06,265.0,132,11.93,12.7,8,3.43,2,1

# 7. sort the dataframe in the ascending order of churn and then dy descending order of total dat charge and display first area code and account length - 1 Mark

In [65]:
def sort_val1():
    # Write your code here
    return df.sort_values(by=['Churn','Total day charge'],ascending=[True,False]).head(1).loc[:,['Area code','Account length']]# Write your code here
sort_val1()

     Area code  Account length
688        510              13

# 8. What are average values of all columns for churned users? - 1 Mark

In [98]:
def avg_churn():
    # Write your code here
    return df[df['Churn']==1].mean()
avg_churn()

Account length            102.664596
Area code                 437.817805
Number vmail messages       5.115942
Total day minutes         206.914079
Total day calls           101.335404
Total day charge           35.175921
Total eve minutes         212.410145
Total eve calls           100.561077
Total eve charge           18.054969
Total night minutes       205.231677
Total night calls         100.399586
Total night charge          9.235528
Total intl minutes         10.700000
Total intl calls            4.163561
Total intl charge           2.889545
Customer service calls      2.229814
Churn                       1.000000
dtype: float64

# 9. What is the maximum length of voice mail calls for loyal users  who do not have an international plan? - 1 Mark

In [85]:
def max_val():
    # Write your code here
    return df[df['International plan']=='No'].loc[:,'Total intl minutes'].max()# Write your code here
max_val()

18.9

# 10. display max value of all columns - 1 Mark

In [99]:

def max_all():
    # Write your code here
    return df.max()# Write your code here
max_all()

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes         395
Total night calls           175
Total night charge        17.77
Total intl minutes           20
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object