# 0. Import the data

In [1]:
data={'Refinery Location':['Baytown','Baton Rouge','Texas City','Lake Charles','Whiting','Beaumont','Philadelphia','Pascagoula','Deer Park','Wood River','Port Arthur'],'Company':['Texas ExxonMobil','Louisiana ExxonMobil','Texas BP','Louisiana Citgo','Indiana BP','Texas ExxonMobil','Pennsylvania Sunoco','Mississippi Chevron','Texas partnership','Illinois WRB','Texas Premcor'],'Capacity':['567,000','503,000','467,720','429,500','410,000','348,500','335,000','330,000','329,800','306,000','289,000']}

# create data frame

In [3]:
import pandas as pd
import numpy as np
# write your code here
df=pd.DataFrame(data)

In [18]:
df['Capacity']=df['Capacity'].str.split(',').str.join('').astype(int)

In [19]:
df

   Refinery Location               Company  Capacity
0            Baytown      Texas ExxonMobil    567000
1        Baton Rouge  Louisiana ExxonMobil    503000
2         Texas City              Texas BP    467720
3       Lake Charles       Louisiana Citgo    429500
4            Whiting            Indiana BP    410000
5           Beaumont      Texas ExxonMobil    348500
6       Philadelphia   Pennsylvania Sunoco    335000
7         Pascagoula   Mississippi Chevron    330000
8          Deer Park     Texas partnership    329800
9         Wood River          Illinois WRB    306000
10       Port Arthur         Texas Premcor    289000

# 1. What are the values of the mean and the median? Compare the answers and state which you prefer as a measure of location for these data and why.

In [21]:
def mean_val():
  # write your code here
  return df.mean()# write your code here
mean_val()

Capacity    392320.0
dtype: float64

In [23]:
def median_val():
    # write your code here
    return df.median()# write your code here
median_val()

Capacity    348500.0
dtype: float64

## Why??
I will choose median as it is more prone to outliers than mean as it can be seen in this case

# 2. What are the values of the range and interquartile range? How do they differ?

In [35]:
def range_val():
  # write your code here
  return df.Capacity.max()-df.Capacity.min()# write your code here
range_val()

278000

In [26]:
def iqr_val():
  # write your code here
    Q1 = np.percentile(df.Capacity, 25, interpolation = 'midpoint')  
    Q2 = np.percentile(df.Capacity, 50, interpolation = 'midpoint')  
    Q3 = np.percentile(df.Capacity, 75, interpolation = 'midpoint')  
    IQR = Q3 - Q1 
    return IQR# write your code here
iqr_val()

118710.0

# 3. What are the values of variance and standard deviation(round off to 2 decimal places) for these data?

In [37]:
def std_val():
    # write your code here
    return round(df.std(),2)# write your code here
std_val()

Capacity    90148.62
dtype: float64

In [40]:
def variance_val():
    # write your code here
    return round(df.var(axis=0),2)# write your code here
variance_val()

Capacity    8.126773e+09
dtype: float64

# 4. What is the z score for Pascagoula,Mississippi? What is the z score for Texas City,Texas? Interpret these z scores. Round off to 2 decimal places

In [46]:
def z_miss():
  # write your code here
    z=(330000-mean_val())/(std_val()) 
    return round(z,2)# write your code here
z_miss()

Capacity   -0.69
dtype: float64

In [47]:
def z_texas():
  # write your code here
    z=(467720-mean_val())/(std_val())
    return round(z,2)# write your code here
z_texas()

Capacity    0.84
dtype: float64

* for Pascagoula,Mississippi -- > Negative Z Score signifies it has lesser capacity compared to mean of distribution
* for Texas City,Texas -- > +ve Z Score signifies it has more capacity compared to mean of distribution

# 5. Calculate the Pearsonian coefficient of skewness and kurtosis and comment on the skewness and kurtosis of this distribution. Round off to 2 decimal places

In [50]:
def skew_val():
    # write your code here
    return round(df.skew(),2)
skew_val()

Capacity    0.78
dtype: float64

In [51]:
def kurtosis_val():
    # write your code here
    return round(df.kurtosis(),2)
kurtosis_val()

Capacity   -0.48
dtype: float64

* +ve skewness--> Tail on the right side of the distribution is longer, which means mean and median will be greater than the mode
* -ve Curtosis --> it has a flatter peak and thinner tails compared to a normal distribution. This means that more data values are located near the mean and less data values are located on the tails.

# 6. Assume normal distribution probabilty that the capacity is less than 330000 . Round off to 2 decimal places

In [54]:
def probability_val():
  # write your code here
    #P(Z<(330000-mean/std)) I'm directly substituting from From Z-table 
    z=(330000-mean_val())/(std_val()) 
#     print(z) 
    return round(-0.2451,2)
probability_val()

-0.25


---

# Times to travel to school (Question 7 to 10)
Twenty students from a statistics class each collected a random sample of times on how long it took students to get to class from their homes. All the sample sizes were 30. The resulting means and standard deviations are listed.

```
means = [22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29]
stdevs = [3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8]
```

# Using the above information, construct a dataframe named 'tt' in the code block below. Apart from the row index, the dataframe should have two columns namely 'means' and 'stdevs'. Also, use this dataframe to answer the following questions.

In [57]:
# write your code here
tt = pd.DataFrame({'means' : [22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29],
                  'stdevs' :[3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8]})
tt

    means  stdevs
0      22     3.7
1      31     4.6
2      18     2.4
3      27     1.9
4      20     3.0
5      17     2.8
6      26     1.9
7      34     4.2
8      23     2.6
9      29     2.1
10     27     1.4
11     24     2.2
12     14     3.1
13     29     2.4
14     37     2.8
15     23     2.7
16     26     1.8
17     21     2.0
18     30     2.2
19     29     2.8

# 7. From the values in the dataframe, use pandas functions to print a good estimate for the population mean and standard deviation. Display as a tuple

In [89]:
def cal_std(observation, mean_of_observations):
    sum_of_squared_deviation = 0
    for i in range(len(observation)):
        sum_of_squared_deviation+=(observation[i]- mean_of_observations)**2   
    Standard_Deviation = ((sum_of_squared_deviation)/(len(observation)-1))**0.5
    return round(Standard_Deviation,2)

def estimate_mean_std():
    # write your code here
    sample_mean = (tt.sum(axis=0)/len(tt))[0]
    sample_std = cal_std(tt.means,sample_mean)
    return (sample_mean,sample_std)
estimate_mean_std()

(25.35, 5.78)

* Central limit theorem says when large number of samples from same population is drawn, it'll follow normal distribution and population mean and 
  standard deviation are nothing but mean of sample mean and standard deviation of sample means

# 8. Calculate the mean and standard deviation of the means.  Display as a tuple. 2 decimal places

In [86]:
def mean_stdev():
  # write your code here
  return (tt.means.mean(),round(tt.means.std(),2))# write your code here
mean_stdev()

(25.35, 5.78)

# 9. Check the sampling error for students 3, 7, and 14 (Indices 2, 6 and 13).  Display as a tuple

In [96]:
def error_val():
  # write your code here
  return ( round(tt.stdevs[2]/np.sqrt(30),3) ,round( tt.stdevs[6]/np.sqrt(30) ,3), round(tt.stdevs[13]/np.sqrt(30),3))
error_val()

(0.438, 0.347, 0.438)

# 10. Compare the standard deviation of the sample of the 20 means. Is that equal to the standard deviation from student 3 divided by the square root of the sample size? How about for student 7, or 14? (Indices 2, 6 and 13). Print "True" or "False" boolean value for comparison done for each student.  Display as a tuple

In [102]:
def compare_val():
  # write your code here
  return (round(tt.stdevs[2]/np.sqrt(30),2)==estimate_mean_std()[1] , round(tt.stdevs[6]/np.sqrt(30),2)==estimate_mean_std()[1] ,round(tt.stdevs[13]/np.sqrt(30),2)==estimate_mean_std()[1] )
compare_val()

(False, False, False)